<div class="container">
  <p-card>
    <h3>Placar</h3>
    <p-table [value]="partida()?.jogadores || []">
      <ng-template pTemplate="header">
        <tr>
          <th>Jogador</th>
          <th>Pontos</th>
          <th>Fichas</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-j>
        <tr>
          <td>{{ j.nome }}</td>
          <td>{{ j.pontuacaoGeral }}</td>
          <td>{{ j.saldo }}</td>
          <td>
            @if(j.estourou) {<span>Estourou</span>}
            @if(!j.estourou) {<span>Ativo</span>}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  @if (partida()) {

  <p-card>
    <h3>Registrar Rodada {{ partida()?.rodadas?.length }}</h3>

    <label>Vencedor</label>
    <select [(ngModel)]="vencedorSelecionado">
      @for (j of partida()!.jogadores; track $index) {
      <option [value]="j.id">{{ j.nome }}</option>
      }
    </select>


    @for (j of partida()!.jogadores; track $index) {
    <div>
      <label>{{ j.nome }}</label>
      <p-inputNumber [(ngModel)]="pontuacoes[j.id]" [min]="0" [disabled]="vencedorSelecionado === j.id"></p-inputNumber>
    </div>
    }

    <p-button label="Finalizar Rodada" (onClick)="finalizarRodada()" [disabled]="!podeFinalizarRodada()"></p-button>
  </p-card>
  }

  @if (vencedorFinal(); as vencedor) {
  <p-dialog header="Partida Finalizada!" [modal]="true" [closable]="false">
    <div>
      <h2>{{ vencedor.nome }} venceu!</h2>
      <p-button label="Nova Partida" (onClick)="novaPartida()"></p-button>
    </div>
  </p-dialog>
  }
</div>
