<section class="card">
  <div class="card-body">
    <h2 class="card-title">
      Dados da partida
    </h2>
    <div class="row">
      <div class="col">
        <span>Valor da ficha: {{ partida.valorFicha }}</span>
      </div>
      <div class="col">
        <span>Lágrima: {{ partida.quantidadeFichasLagrima }}</span>
      </div>
      <div class="col">
        <span>Estourada: {{ partida.quantidadeFichasEstourada }}</span>
      </div>
      <div class="col">
        <span *ngIf="partida.valorBolao">Bolão: {{ partida.valorBolao }}</span>
      </div>
    </div>
  </div>
</section>

<app-rodada [jogadores]="partida.jogadores"></app-rodada>
